$main_dark: #222831;
$second_dark: #393e46;
$hover_color: #f96d00;
// $active_color: #fc6e01;
$main_light: #f2f2f2;
$second_light: #dbd8e3;
$third_light: #f2f2f2;

$main_font: 'Kindegarten', sans-serif;
$second_font: 'Browse', sans-serif;

// https://www.cdnfonts.com/kindegarten.font

// [data-theme='light']{
// $main_dark: #222831;
// $second_dark: #393e46;
// $hover_color: #f96d00;
// // $active_color: #fc6e01;
// $main_light: #f2f2f2;
// $second_light: #dbd8e3;
// $third_light: #f2f2f2;
// }

// [data-theme='dark']{
// $main_dark: #f2f2f2;
// $second_dark: #dbd8e3;
// $hover_color: #f96d00;
// // $active_color: #fc6e01;
// $main_light: #222831;
// $second_light: #393e46;
// $third_light: #f2f2f2;
// }