$main_dark: #222831;
$second_dark: #393e46;
$hover_color: #f96d00;
$main_light: #f2f2f2;
$second_light: #dbd8e3;
$third_light: #f2f2f2;

$main_font: 'Kindegarten', sans-serif;
$second_font: 'Browse', sans-serif;

// https://www.cdnfonts.com/kindegarten.font