.cook-book{

}
.adding-form{
    display: none;
}

.adding-form-open{
    display: block;
    position: absolute;
    top: 20%;
    left: 20%;
    padding: 24px;
    background-color: gray;
    border-radius: 10px;
}