@use './vars';
.weeklyEl{
    border-radius: 12px;
    background-color: vars.$third_light;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    margin-top: 4px;
}
.habit{
    word-break: break-word;
  overflow-wrap: break-word;
}
.count {
    display: flex;
    align-items: center;
    gap: 12px;
}
.count button {
    width: 28px;
    height: 28px;
    border: none;
    border-radius: 8px;
}

