@use './mixins';
@use './vars';

header {
    width: 100%;
    background-color: vars.$second_light; 
    position: relative;
    @include mixins.media(desktop){
    padding-top: 12px;
    padding-bottom: 12px;  
    }

}
.jHeader{
    color: vars.$main_dark;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    
}
.house{
    color: vars.$second_dark;
    width: 24px;
    height: 24px;
}
.navLink{
    text-align: center;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    position: relative;
    &:hover .house{color: vars.$hover_color;
    }
} 

.navLink::after{
    content: '';
    background-color: vars.$second_dark;
    border-radius: 4px;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
.selected{
    .house{color: vars.$hover_color;
}
}
.burger{
    fill: vars.$second_dark;
    
    @include mixins.media (desktop){
        display: none;
    }
}


.headerNav{
    display: none;
    @include mixins.media (desktop){
        display: block;
        position: absolute;
        right: 80px;
        bottom: 0;

    }
}
.headerNavOpen{
    display: block;
    height: auto;
    width: 100%;
    padding: 0 24px;
    background-color: vars.$second_light;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}