@use './mixins';
.j-header{
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}
.burger{
    @include mixins.media (desktop){
        display: none;
    }
}
.header-nav{
    display: none;
    @include mixins.media (desktop){
        display: block;
    }
}
.header-nav-open{
    display: block;
    height: 24px;
    width: 100%;
    background-color: gray;
    position: absolute;
    bottom: -20px;
    z-index: 100;
}