@use './mixins';

header {
    width: 100%;
    background-color: gray; 
    position: relative;
    @include mixins.media(desktop){
    padding-top: 12px;
    padding-bottom: 12px;  
    }

}
.j-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    
}
.burger{
    @include mixins.media (desktop){
        display: none;
    }
}
.header-nav{
    display: none;
    @include mixins.media (desktop){
        display: block;
        position: absolute;
        right: 80px;
        bottom: 0;

    }
}
.header-nav-open{
    display: block;
    height: auto;
    width: 100%;
    padding: 0 24px;
    background-color: gray;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}