@use './vars';

.tracker{
    margin-top: 4px;
    padding: 4px 0;
}
.month{
    text-align: center;
    background-color: vars.$third_light;
    padding: 4px;
    border-radius: 8px 8px 0 0;
}
.days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day{
    margin: 3px;
    padding: 4px;
    font-size: 15px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid black;
}

.progress-0 { background-color: #eee; }
.progress-20 { background-color: #ffcccc; }
.progress-40 { background-color: #ff9999; }
.progress-60 { background-color: #ff6666; }
.progress-80 { background-color: #ff3333; }
.progress-100 { background-color: #cc0000; }

.mood-happy {border-color: yellow;}
.mood-sad {border-color: blue}
.mood-tider{border-color: grey}
.mood-angry{border-color: pink}
.mood-furious{border-color: red;}
