.jar {
    width: 30px;
    height: 40px;
    background-image: url(https://png.pngtree.com/png-vector/20240807/ourlarge/pngtree-glass-jar-full-of-gold-coin-png-image_13401967.png);
    background-repeat: no-repeat;
    border: 1px solid black;
}